.wrapper{
    margin: 15px 15px 15px 15px;
}

h2{
    text-align: center;
}

input{
    background-color: white;
    margin: 10px 5px 3px 5px;
    border-radius: 4px;
    border: solid #e1e1e1 2px;
    padding: 6px 6px 6px 6px;
    width: 150px;
}

button{
    color: white;
    background-color: #5bc0de;
    border: none;
    border-radius: 3px;
    padding: 7px 7px 7px 7px;
}
